/* General Page Styling */
.bus-header {
  text-align: left;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin: 0 15px;
}

/* Body Styling */
.bus-body {
  padding: 20px;
  background-color: #f5f5f5;
}

.bus-body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.bus-body-header div {
  width: 300px;
}

/* Table Styling */
.center-content {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table Headers */
th {
  background-color: #f5f5f5;
  color: #2d3436;
  padding: 12px;
  text-align: left;
  font-weight: 500;
}

/* Table Rows */
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.bus-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

tr:hover {
  background-color: #f0f0f0;
}

.bnd{
    margin-right: 10px;
}


.bus-body-header > div:last-child {
  display: flex;
  gap: 10px;
  align-items: center; 
}

.pdf-download-link-fuel {
  background-color: #05944F;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  transition: background-color 0.3s;
}

.pdf-download-link-fuel:hover {
  background-color: #04753b;
  color: white;
}

.pdf-download-link-fuel:before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 15v-1a4 4 0 00-4-4H8m0 0l3-3m-3 3l3 3m-1 14v-1a4 4 0 014-4h8m0 0l-3-3m3 3l-3-3' /%3E%3C/svg%3E");
  background-size: contain;
  display: inline-block;
}