.intro-section-items {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.intro-item {
  cursor: pointer;
  transition: transform 0.5s ease;
}

.intro-item:hover .item-img img {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.item-img {
  width: 120px;
  height: 120px;
  display: flex;
}

.item-img img {
  width: 100px;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}

.intro-item p {
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2d3436;
  font-size: 15px;
}

p.active {
  color: #05944f;
}

img.active {
  transform: scale(1.1);
}

.intro-description-section {
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
}

.intro-description {
  display: flex;
  gap: 50px;
  background-color: #fff;
  /* border: 2px solid #05944f; */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  cursor: pointer;
}

.intro-description img {
  width: 50%;
  height: 350px;
  border-radius: 10px 0 0 10px;
}

.intro-desc-text {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-right: 30px;

  gap: 30px;
}

.intro-desc-text h2 {
  color: #2d3436;
  font-size: 25px;
}

.intro-desc-text p {
  color: #2d3436;
}
