.owner-dashboard-header {
  text-align: left;
  padding: 15px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin: 0 15px;
  color: #2d3436;
}

.owner-dashboard-summary {
  padding: 15px 0;
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
}

.owner-dashboard-summary-box {
  width: 180px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.owner-dashboard-summary-box span {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #666;
  font-size: 15px;
}

.active-buses-box {
  width: 350px;
  position: relative;
}

.owner-dashboard-summary-box:hover {
  background-color: #f9f9f9;
}

.owner-dashboard-summary-box p {
  font-weight: 550;
  color: #2d3436;
  font-size: 18px;
}

p.owner-dashboard-count {
  font-size: 30px;
  font-weight: 650;
  color: #2d3436;
}

.owner-dashboard-profile {
  padding: 15px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin: 0 15px;
  color: #2d3436;
}

.active-buses-status-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 20px;
  background-color: rgba(5, 148, 79, 1);
}

.authority-dashboard-account-datafield {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid #f5f5f5;
}

.authority-dashboard-account-data-filed {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.authority-dashboard-account-data-title {
  font-size: 16px;
  color: #2d3436;
  font-weight: 500;
}

.authority-dashboard-account-data {
  font-size: 15px;
  color: #6e6e6e;
  font-weight: 400;
}

.authority-dashboard-account-data-edit {
  width: 18px;
  cursor: pointer;
}

.authority-dashboard-account-data-save {
  width: 23px;
  cursor: pointer;
}

.authority-dashboard-account-data-input {
  width: 350px;
  font-size: 15px;
  color: #6e6e6e;
  font-weight: 400;
  border: none;
  outline: none;
  transition: color 0.3s ease;
  animation: pulseShadow 1.5s infinite ease-in-out;
}

@keyframes pulseShadow {
  0%,
  100% {
    color: #6e6e6e;
  }
  50% {
    color: #a0a0a0;
  }
}
